.school2-second-footer-widget {
  width: 60.30303%;
  float: left;
  margin-right: 4.545454%;
}

.school2-footer-name {
  font-size: 22px;
}

#school2-sub-menu {
  width: auto;
}

.school2-img-chif {
  margin-left: 18%;
}

.school2-entry-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.school2-banners-block {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  margin-bottom: 10px;
}

.school2-banners-block-img {
  width: 40%;
  height: 100px;
  float: left;
}

.school2-banners-block-img img {
  width: 130px;
  height: 100px;
}

.school2-banners-block-text {
  width: 59.6%;
  height: 100px;
  float: left;
  padding-left: 10px;
}

.school2-banners-block-title {
  font-size: 16px;
  margin-top: 10px;
}

.school2-banners-block-title a {
  color: #232323;
}

.school2-banners-block-title a:hover {
  color: #289dcc;
}

.scool2-date {
  font-size: 12px;
}

.school2-below-entry-meta {
  padding-bottom: 0px;
}

#school-entry-title {
  padding-bottom: 6px;
}

.school2-single-article {
  padding-left: 10px;
}

.school2-single-article li {
  padding-left: 10px;
}

.school2-single-article li:before {
  content: "-";
  padding-right: 3px;
  color: #289dcc;
}

.article-container .widget-title {
  border-bottom: 2px solid #289dcc;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.article-container .widget-title span {
  background-color: #289dcc;
  color: #ffffff;
  padding: 6px 12px;
  display: inline-block;
}

.school2-following-left {
  margin-right: 20px;
}

.school2-entry-title-top-baner {
  font-size: 16px;
}

.plagin-visually-impaired {
  width: 270px;
  height: 45px;
  position: absolute;
  right: 0;
}
